
  
.post-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
  .post-card {
    flex: 0 1 calc(33.33% - 20px);
    margin: 15px;
  }
  
  @media screen and (max-width: 767px) {
    .post-card {
      flex: 0 1 calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 479px) {
    .post-card {
      flex: 1 0 100%;
    }
  }